# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.*.local

# Logs
__blogs/*
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build outputs
dist/
build/

# Docker
.dockerignore

# Certificates and keys (development)
*.pem
*.key
*.crt
*.cert

# Mail dev
maildev-data/
